<% @title = "#{@doc_instance.full_name}" %>
<% section = @doc_instance %>

<%= include "partials/breadcrumbs", :object => section %>

<h2 class="page-title">
  <span class="type">Section </span><%= section.name %>
</h2>

<div class="section section-description">
  
  <div class="section-title">
    <h3>Description</h3>
  </div> <!-- .section-title -->
  
  <div class="section-content">
    <%= htmlize(section.description) %>
  </div> <!-- .section-content -->
  
</div> <!--.section -->

<% # Iterate over the items in this section. %>

<% utilities = section.utilities %>
<% unless utilities.empty? %>

  <div class="section section-utilities">
    <div class="section-title">
      <h3>Utilities</h3>
    </div> <!-- .section-title -->
    
    <div class="section-content">
      <ul class="method-list">
      <% utilities.each do |utility| %>  
        <li><%= auto_link_code(utility) %></li>
      <% end %>
      </ul>
    </div> <!-- .section-content -->
  </div> <!-- .section -->

<% end %>

<% namespaces = section.namespaces %>
<% unless namespaces.empty? %>
  
  <div class="section section-namespaces">
    <div class="section-title">
      <h3>Namespaces</h3>
    </div> <!-- .section-title -->
    
    <div class="section-content">
      <ul class="method-details-list">
      <% namespaces.each do |namespace| %>
        <li class="method-description">
          <h4>
            <a href="<%= path_to(namespace) %>"><%= namespace.full_name %></a>
          </h4>
          
          <% unless namespace.short_description.nil? %>
            <p><%= htmlize(namespace.short_description) %></p>
          <% end %>
          
        </li>
      <% end %>
      </ul>
    </div> <!-- .section-content -->
  </div> <!-- .section -->
  
<% end %>

<% klasses = section.klasses %>
<% unless klasses.empty? %>

  <div class="section section-classes">
    
    <div class="section-title">
      <h3>Classes</h3>
    </div> <!-- .section-title -->
    
    <div class="section-content">
      <ul class="method-details-list">
      <% klasses.each do |klass| %>
        <li class="method-description">
          <h4>
            <a href="<%= path_to(klass) %>"><%= klass.full_name %></a>
          </h4>
          
          <% unless klass.short_description.nil? %>
            <p><%= htmlize(klass.short_description) %></p>
          <% end %>
          
        </li>
      <% end %>
      </ul>
    </div> <!-- .section-content -->
    
  </div> <!--.section -->
  
<% end %>